state space analysis/AURAdb/digitizers/plotDigitizer/appDesignerTempData_.*
AURA-Jared/
depricated/
Depricated/
*.bak
*.bak2
slprj/
*.autosave
*.asv
*slx.r2021a
*.slx.original
state space analysis/Releases/*.prj
state space analysis/AURAdb/digitizers/plotDigitizer/temp/
state space analysis/AURAdb/databases/@capacitorDB/capacitors.mat
state space analysis/Toolbox/Switched Mode Power Supply Toolbox.mltbx
