Ideas\
AURAdb\digitizers\plotDigitizer\appDesignerTempData_.*
AURAdb\digitizers\plotDigitizer\temp\
depricated\
*.bak
*.bak2
testConverters\PreviousApplications\
testConverters\SPICECompare\
slprj\
*.autosave
*.asv
webserver\
*slx.r2021a
*.slx.original
packageAURA.m
