<h3> Datasheet </h3>


<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tgp  {border-collapse:collapse;border-spacing:0;border:none;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg .tg-0lax{text-align:left;vertical-align:top}
.tgp .tg-0a7q{border-color:#000000;text-align:left;vertical-align:middle}
</style>

<table class="tg">
  <tr>
    <th class="tg-0lax" colspan="4"><strong>Typical Characteristics</strong></th>
  </tr>
  <tr>
    <td class="tg-0lax" colspan="2">Parameter</td>
    <td class="tg-0lax">Value</td>
    <td class="tg-0lax">Unit</td>
  </tr>
  <tr>
    <td class="tg-0lax"></td>
    <td class="tg-0lax"></td>
    <td class="tg-0lax"></td>
    <td class="tg-0lax"></td>
  </tr>
</table>





<table class="tg">
  <tr>
    <th class="tg-0lax" colspan="7"><strong>Additional Characteristics</strong></th>
  </tr>
  <tr>
    <td class="tg-0lax" colspan="2">Parameter </td>
    <td class="tg-0lax">Test Conditions</td>
    <td class="tg-0lax">Min</td>
    <td class="tg-0lax">Typ</td>
    <td class="tg-0lax">Max</td>
    <td class="tg-0lax">Unit</td>
  </tr>
  <tr>
    <td class="tg-0lax"></td>
    <td class="tg-0lax"></td>
    <td class="tg-0lax"></td>
    <td class="tg-0lax"></td>
    <td class="tg-0lax"></td>
    <td class="tg-0lax"></td>
    <td class="tg-0lax"></td>
  </tr>
</table>


<style type="text/css">

</style>
<table class="tgp">
  <tr>
    <th class="tg-0a7q">PLOT</th>
    <th class="tg-0a7q">PLOT</th>
  </tr>
  <tr>
    <td class="tg-0a7q"></td>
    <td class="tg-0a7q"></td>
  </tr>
</table>